:root {
  /* colors */
  --clr-accent: hsl(158, 36%, 37%);
  --clr-bg-light: hsl(30, 38%, 92%);
  --clr-button-bg-active: hsla(158, 36%, 37%, 0.815);
  --clr-button-bg-hover: hsl(158, 38%, 24%);
  --clr-button-bg: hsl(158, 36%, 37%);
  --clr-button: hsl(0, 0%, 100%);
  --clr-card-bg: hsl(0, 0%, 100%);
  --clr-heading-dark: hsl(212, 21%, 14%);
  --clr-primary-dark: hsl(228, 12%, 48%);
  --clr-primary-light: hsl(0, 0%, 100%);

  /* fonts */
  --ff-primary: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;
}
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general styling */
body {
  align-items: center;
  background-color: var(--clr-bg-light);
  color: var(--clr-primary-dark);
  display: flex;
  font-family: var(--ff-primary);
  font-size: 0.875rem;
  font-weight: 400;
  height: 100vh;
  justify-content: center;
  width: 100%;
  line-height: 1.6;
}
.container {
  background-color: var(--clr-card-bg);
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
  height: 37.5rem;
  overflow: hidden;
  width: 21.5rem;
}

.image-box {
  height: 40%;
  overflow: hidden;
  width: 100%;
}
.product-image {
  align-items: center;
  background-image: url(images/image-product-mobile.jpg);
  background-size: cover;
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
  display: flex;
  height: 100%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.product-image:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.product-image::after {
  background-color: hsla(0, 0%, 100%, 0.299);
  color: var(--clr-heading-dark);
  content: "Made with love";
  font-weight: 500;

  opacity: 0;
  padding-bottom: 25rem;
  padding-top: 25rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  text-shadow: 0 0 5px hsl(0, 0%, 100%);
  text-transform: uppercase;
  transform: scale(2.3);
  transition: all 0.3s ease;
}

.product-image:hover::after {
  opacity: 1;
  transform: scale(1.2);
}

.card {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem;
}

.card__type {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.card__name {
  color: var(--clr-heading-dark);
  font-family: var(--ff-accent);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.card__price {
  display: flex;
}
.card__price-new {
  color: var(--clr-accent);
  font-family: var(--ff-accent);
  font-size: 2rem;
  font-weight: 700;
}
.card__price-old {
  align-self: center;
  margin-left: 1rem;
}

.card__button {
  align-items: center;
  background-color: var(--clr-button-bg);
  border-radius: 0.625rem;
  border: 0;
  color: var(--clr-button);
  display: flex;
  font-family: var(--ff-primary);
  font-weight: 600;
  gap: 0.5rem;
  height: 3.5em;
  justify-content: center;
  width: 100%;
  transition: all 0.5s ease;
}

.card__button:hover {
  cursor: pointer;
  background-color: var(--clr-button-bg-hover);
}

.card__button:active {
  background-color: var(--clr-button-bg-active);
}

/*  desktop style*/
@media (min-width: 43.75rem) {
  .container {
    background-color: var(--clr-card-bg);
    border-radius: 0.625em;
    display: flex;
    height: 28.25rem;
    width: 37.5rem;
  }

  .image-box {
    height: 100%;
    width: 18.75rem;
  }

  .product-image {
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    border-bottom-left-radius: 0.625em;
    border-top-right-radius: 0;
    height: 100%;
    width: 100%;
  }
  .card {
    height: 100%;
    width: 18.75rem;
    padding: 2rem;
  }
}

/* prevent animation while screen resizing */
.resize-animation-stopper * {
  transition: none !important;
}
